EXPO_PUBLIC_SUPABASE_URL=https://xodmazgfibftorrlbotk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvZG1hemdmaWJmdG9ycmxib3RrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUwNzc3NTgsImV4cCI6MjEwMDY1Mzc1OH0.TJb78ls-n3WG11DTZR7JX1C6I1ypuJWaBImQE-i6vh0
EXPO_PUBLIC_BACKEND_URL=https://api.sabsewa.in
EXPO_PUBLIC_RAZORPAY_KEY_ID=rzp_test_TIymq7V95JZxLy
